# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
*.lock 

# Data files and directories
data/clean/
data/raw/
!data/preproc.py

# IDE-specific files
.idea/
.vscode/

